<iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/album/7oiJYvEJHsmYtrgviAVIBD?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>



const pickupLines = [
    {
        question: "Do you know what time it is? 🕐",
        expectedAnswers: ["time", "what time", "the time", "yes", "yeah", "sure"],
        response: "No, it's the time I think about you! 💭💕",
        hint: "Think about time..."
    },
    {
        question: "Are you a magician? ✨",
        expectedAnswers: ["magician", "yes", "yeah", "maybe", "no"],
        response: "Because whenever I look at you, everyone else disappears! 🎩✨",
        hint: "It's about magic..."
    },
    {
        question: "Did it hurt? 😢",
        expectedAnswers: ["hurt", "what", "when", "yes", "no"],
        response: "When you fell from heaven? Because you're an angel! 👼💕",
        hint: "Think about angels..."
    },
    {
        question: "Are you made of sugar? 🍬",
        expectedAnswers: ["sugar", "yes", "sweet", "candy"],
        response: "Because you're so sweet! And I want a taste of you! 🍭💖",
        hint: "Something sweet..."
    },
    {
        question: "Kiss me if I'm wrong... 😘",
        expectedAnswers: ["wrong", "right", "kiss", "yes", "maybe"],
        response: "But dinosaurs still exist... because I'm looking at one! (Just kidding, you're beautiful! 🦕❤️)",
        hint: "About dinosaurs..."
    },
    {
        question: "Can I follow you home? 🏠",
        expectedAnswers: ["home", "follow", "yes", "sure", "why"],
        response: "Because my parents always told me to follow my dreams! And you're my dream come true! 🌟💕",
        hint: "About dreams..."
    },
    {
        question: "Are you a camera? 📸",
        expectedAnswers: ["camera", "picture", "photo", "yes", "no"],
        response: "Because every time I look at you, I smile! 📷😊",
        hint: "Think about photos..."
    },
    {
        question: "Do you have a Band-Aid? 🩹",
        expectedAnswers: ["band aid", "band-aid", "bandaid", "no", "yes"],
        response: "Because I just scraped my knee falling for you! 😍💘",
        hint: "For an injury..."
    }
];
